.Heading_style{
    text-align: center;
    width:auto;
    background-color:rgb(146, 155, 146);
}

.Slot_machine{
    margin-left: 38%;
    width:400px;
    height:auto;
    border: 2px solid gold;
    background-color: rebeccapurple;


}
body{
    background-color: lightslategray;
}